
<bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp"  xmlns:ios-bgp="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp"  xmlns:ios="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <id>{{ id }}</id>
  {% for neighbor in neighbors %}
  <neighbor>
    <id>{{ neighbor.id }}</id>
    <remote-as>{{ neighbor.remote_as }}</remote-as>
    {% if neighbor.ebgp_multihop.max_hop is defined %}
    <ebgp-multihop>
      <max-hop>{{ neighbor.ebgp_multihop.max_hop }}</max-hop>
    </ebgp-multihop>
    {% endif %}
    {% if neighbor.update_source.loopback is defined %}
    <update-source>
      <Loopback>{{ neighbor.update_source.loopback }}</Loopback>
    </update-source>
    {% endif %}
  </neighbor>
  {% endfor %}
  {% for network in networks %}
  <network>
    <number>{{ network.number }}</number>
    <mask>{{ network.mask }}</mask>
  </network>
  {% endfor %}
</bgp>

