
<interface xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native"  xmlns:ios="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <GigabitEthernet>
    <name>1</name>
    <description>RESTful API Interface</description>
    <ip>
    <address>
    <primary>
      <address>10.3.255.104</address>
      <mask>255.255.255.0</mask>
    </primary>
  </address>
</ip>
<mop>
  <enabled>false</enabled>
</mop>
<negotiation xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ethernet">
  <auto>true</auto>
</negotiation>
</GigabitEthernet>
{% for loopback in loopbacks %}
<Loopback>
  <name>{{ loopback.name }}</name>
  <ip>
  <address>
  <primary>
    <address>{{ loopback.ip }}</address>
    <mask>{{ loopback.mask }}</mask>
  </primary>
</address>
</ip>
</Loopback>
{% endfor %}
</interface>
