
<ip xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native"  xmlns:ios="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
<domain>
  <lookup>false</lookup>
  <name>lab.ins.hsr.ch</name>
</domain>
<forward-protocol>
  <protocol>nd</protocol>
</forward-protocol>
{% for route in routes %}
<route>
  <ip-route-interface-forwarding-list>
    <prefix>{{ route.prefix }}</prefix>
    <mask>{{ route.mask }}</mask>
    <fwd-list>
      {% for forward in route.forward_list %}
      <fwd>{{ forward.fwd }}</fwd>
      {% endfor %}
    </fwd-list>
  </ip-route-interface-forwarding-list>
</route>
{% endfor %}
<ssh>
<client>
<algorithm>
<encryption>
  <aes128-ctr/>
  <aes192-ctr/>
  <aes256-ctr/>
</encryption>
</algorithm>
</client>
<server>
<algorithm>
<encryption>
  <aes128-ctr/>
  <aes192-ctr/>
  <aes256-ctr/>
</encryption>
</algorithm>
</server>
<time-out>60</time-out>
<version>2</version>
</ssh>
<http xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-http">
<authentication>
  <local/>
</authentication>
<server>false</server>
<secure-server>true</secure-server>
</http>
</ip>
