
<ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf"  xmlns:ios-ospf="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf"  xmlns:ios="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <id>1</id>
  <network>
    <ip>4.4.4.4</ip>
    <mask>0.0.0.0</mask>
    <area>0</area>
  </network>
  <network>
    <ip>10.3.255.0</ip>
    <mask>0.0.0.255</mask>
    <area>0</area>
  </network>
</ospf>

