
<ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf"  xmlns:ios-ospf="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf"  xmlns:ios="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <id>{{ id }}</id>
  <router-id>{{ router_id }}</router-id>
  {% for network in networks %}
  <network>
    <ip>{{ network.ip }}</ip>
    <mask>{{ network.mask }}</mask>
    <area>{{ network.area }}</area>
  </network>
  {% endfor %}
</ospf>
